@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body{
  margin-top: 190px;
  margin-left: 0;
  margin-right: 0;
  max-width: 800px;
  background-color: #000;
}

.clock{
  background-color: rgb(145, 192, 16);
  height: 120px;
  width: 120px;
  text-align: center;
  margin-left: 550px;
  padding: 50px;
  border-radius: 50%;
  color: wheat;
  text-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 6px 2px rgb(87, 86, 86);
}

.clock>h1{
  font-family: 'DynaPuff', cursive;
}

.clock>#clock{
  font-family: 'DynaPuff', cursive;
  font-size: 29px;
}